h1 = t('title.edit_post')

- if current_user == @post.user or current_user.moderator?
  == render 'form', post: @post
- else
  p = t('exception.permission_denied')

=> link_to 'Show', @post
'|
=< link_to 'Back', posts_path

