h1 = t('title.edit_user') % @user.name

- if current_user == @user or current_user.moderator?
  == render 'form'
- else
  p = t('exception.permission_denied')

=> link_to 'Show', @user
'|
=< link_to 'Back', users_path

