/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: rw-extrabold;
    src: url(font-path('Raleway-ExtraBold.ttf'));
}

html {
   position: relative;
   min-height: 100%;
}
body {
    margin-bottom: 30px;
}

h1 {
  text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background: #f8f8f8;
}
.container::after {
    display: block;
    content: '';
    clear: both;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;

  .container p {
    background-color: dimgray;
    color: white;
    text-align: right;
    padding: 7px;
    margin: 0;
    height: 30px;
  }
}

.header {
  height: 400px;
  background: url(asset-path('cover.jpg')) no-repeat, #abeafa;
  background-size: cover;

  .title {
    position: relative;
    top: 244px;
    left: 100px;
    font: 48px rw-extrabold, Raleway, sans-serif;
    color: #f8f8f8;
    line-height: 34px;
  }

  .social {
    font-size: 16px;
    position: absolute;
    top: 50px;
    right: 400px;

    a {
      padding-left: 15px;
      text-decoration: none;
      color: white;
    }
  }
}

.menu {
  margin: 0 auto;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .item {
    display: block;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    background: dimgray;
    flex: 1;
    text-decoration: none;
    color: white;
    padding: 5px;
  }

  .item:hover {
    background: black;
  }
}
